<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>

    <h2>Lista de Tareas Pendientes</h2>
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Correo</th>
            <th scope="col">Prioridad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{tarea}}</td>
            <td>{{correo}}</td>
            <td>{{prioridad}}</td>
          </tr>
          
        </tbody>
      </table>

      <h2>Formulario Nuevo elemento</h2>
      <form method="POST" action="{{url_for('enviar')}}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Tarea</label>
                <input type="text" class="form-control"  name="tarea" id="inputName"placeholder="Tarea">
              </div>
            </div>
      <div class="form-row">   
          <div class="form-group col-md-6">
            <label for="inputEmail4">Correo electrónico</label>
            <input type="email" class="form-control" name="correo" id="inputEmail4" placeholder="Correo electrónico">
          </div>
        </div>

        
        
        <div class="form-row">
        
          <div class="form-group col-md-4">
            <label for="inputPrioridad">Prioridad</label>
            <select id="inputPrioridad" name="prioridad" class="form-control">
              <option selected>Baja</option>
              <option>Media</option>
              <option>Alta</option>
            </select>
          </div>
          
        </div>
        <button type="submit" class="btn btn-primary">Agregar a la tarea</button>
      </form>

      <form method="POST" action="{{url_for('borrar')}}" >

        <button type="submit" class="btn btn-primary">Borrar</button>

      </form>

</body>
</html>