<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>



  <!--Alerta en el caso de existir errores en el ingreso de los datos-->


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="alert alert-warning" role="alert">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}




  <!-- Formulario de ingreso de tareas-->
  <h2 class="row justify-content-center align-items-center minh-100 mb-2 bg-danger text-white">Ingreso de Tareas</h2>
  <form method="POST" action="{{url_for('enviar')}}">
    <div class="form-row row justify-content-center align-items-center minh-100">
      <div class="form-group col-md-6">
        <label for="inputName">Tarea</label>
        <input type="text" class="form-control" name="tarea" id="inputName" placeholder="Tarea">
      </div>
    </div>
    <div class="form-row row justify-content-center align-items-center minh-100">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Correo electrónico</label>
        <input type="email" class="form-control" name="correo" id="inputEmail4" placeholder="Correo electrónico">
      </div>
    </div>

    <div class="form-row row justify-content-center align-items-center minh-100">

      <div class="form-group col-md-6">
        <label for="inputPrioridad">Prioridad</label>
        <select id="inputPrioridad" name="prioridad" class="form-control">
          <option selected>Baja</option>
          <option>Media</option>
          <option>Alta</option>
        </select>
      </div>

    </div>
    <!--Boton para agregar tarea a la tabla-->
    <center>
      <button type="submit" class="btn mb-2 bg-danger text-white">Agregar a la tarea</button>
    </center>

  </form>
  <br>


  <!--Formulario con Boton borrar-->
  <form method="POST" action="{{url_for('borrar')}}" class="row justify-content-center align-items-center minh-100">

    <button type="submit" class="btn mb-2 bg-danger text-white">Borrar</button>

  </form>
  <br>
  <!--Formulario con Boton Guardar que redirige a un nuevo formulario para ingresar las tareas que se van a almacenar-->
  <form method="POST" action="{{url_for('guardar')}}" class="row justify-content-center align-items-center minh-100">

    <button type="submit" class="btn mb-2 bg-danger text-white">Guardar</button>

  </form>
  <br>
  <br>
  <!-- Tabla de tareas pendientes-->
  <h2 class="row justify-content-center align-items-center minh-100 p-3 mb-2 bg-dark text-white">Lista de Tareas
    Pendientes</h2>
  <table class="table table-hover table-dark ">
    <thead>
      <tr>

        <th scope="col">Tarea</th>
        <th scope="col">Correo</th>
        <th scope="col">Prioridad</th>
      </tr>
    </thead>
    <tbody>

      <tr>

        <!--Se recorre cada tarea y se plasma a modo de lista en una tabla-->
        <td>
          <u> {% for tarea in tareas %}
            <li>
              {{tarea}}
            </li>
            {% endfor %}
          </u>
        </td>
        <!--Se recorre cada correo electronico y se plasma a modo de lista en una tabla-->
        <td>
          <u>
            {% for correo in correos %}
            <li>
              {{correo}}
            </li>
            {% endfor %}
          </u>
        </td>

        <!--Se recorre cada prioridad y se plasma a modo de lista en una tabla-->
        <td>
          <u>
            {% for prioridad in prioridades %}
            <li>
              {{prioridad}}
            </li>
            {% endfor %}
          </u>
        </td>


      </tr>

    </tbody>
  </table>


</body>

</html>